@{
    ViewData["Title"] = "Logowanie";
}

@Html.Raw(@ViewBag.message)
@Html.Raw(@TempData["message"])

@if (ViewBag.emailConfirmed ?? false)
{
    <form action="/CheckAuthentication" method="post">
    <div class="container text-center">
        <div class="row">
            <div class="col-4 text-end">
                <label>Login:</label>
            </div>
            <div class="col-8 text-start">
                <input type="text" id="login" name="login">
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-end">
                <label>Hasło:</label>
            </div>
            <div class="col-8 text-start">
                <input type="password" id="password" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 text-start">
                <button type="submit">Zaloguj</button>
            </div>
        </div>
    </div>
</form>
}
else
{
    @if (ViewBag.authInit ?? false)
    {
        <form action="/SetPass" method="post">
    <div class="container text-center">
        <div class="row">
            <div class="col-4 text-end">
                <label>Hasło:</label>
            </div>
            <div class="col-8 text-start">
                <input type="password" id="password1" name="password1">
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-end">
                <label>Poooowtórz&nbsphaaaasło:</label>
            </div>
            <div class="col-8 text-start">
                <input type="password" id="password2" name="password2">
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8 text-start">
                <button type="submit" value="@ViewBag.requestPath" name="sendBtn">Potwierdź</button>
            </div>
        </div>
    </div>
</form>
    }
}
