@{
    ViewData["Title"] = "Dodawanie wiadomości";
    if (ViewBag.article == null) ViewBag.article = new Article() {Id = -1};
}

@Html.Raw(@ViewBag.message)

<h2>dodawanie wiadomości</h2>
<form method="post" asp-controller="News" asp-action="AddArticlePost">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-1 text-start">
                <label>Tytuł:</label>
            </div>
            <div class="col-md-11 text-start">
                <input type="text" id="title" name="title" value="@ViewBag.article.Title">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-start">
                <label>Treść:</label>
            </div>
            <div class="col-md-11 text-start">
                <div class="row">
                    <div class="col">
                        <textarea id="addArticleContent" name="addArticleContent" rows="5" cols="37" oninput="resetMeter()" >@ViewBag.article.Content</textarea>
                    </div>
                    <div class="col" id="contentVisualization"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11 text-start">
                @if (ViewBag.article.Id == -1)
                {
                <button type="submit" name="sendBtn" value="-1">Dodaj</button>
                }
                else
                {
                <button type="submit" name="sendBtn" value="@ViewBag.article.Id">Edytuj</button>
                }
                <form><button type="submit" asp-controller="News" asp-action="NewsEdit">Anuluj</button></form>
            </div>
        </div>
    </div>
</form>